@media( max-width: 1000px ){
html, body{
    font-family: Arial, Helvetica;
}

/* # # #  Guia de Convênios # # #*/
.publiPrincipal{
    min-height: 610px;
}

.SecGuiaDestaque{
    width: 840px;
    height: 622px;
}

.margem-guia-principal {
    width: 5%;
    margin-left: 0;
}
.div-guia-principal{    
    width: 89%;
    height: 600px;
}
.div-guia{
    width: 920px;
    min-height: 220px;    
    border: 2px solid #ddd;
}
.publiLogo{    
    width: 24%;
    min-height: 205px;
    box-sizing: border-box;    
}
.publiLogo img{
    width: 96%;
    height: 96%;
}
.publiTexto{
    width: 68%;
    box-sizing: border-box;        
    min-height: 215px;    
}
.linha-convenio{
    font: bold 1.9em verdana;
}
.linha-dadosconvramo{
    font: bold 1.4em 'Futura Bk BT';        
}
.linha-dadosconvfone{    
    font-size: 1.4em;
}

.linha-dadosconv{
    font: italic 1.4em arial;    
    margin: 5px 0 5px 0;        
}
.guiaDestaque {
    width: 100%;
    height: 450px;        
}
.guiaDestaque img{
    margin-top: -9px;
}
.guiaTexto a{
    font-size: 2em;
}

.retDados{
    background-color: red;    
}

.formGuia{    
    width: 100%;
    margin-bottom: 20px;
}

input{ /* Está no Fale Conosco*/
    width: 98%;
    padding: 20px 10px; 
    font-size: 2em;        
}
input:hover{ /* Está no Fale Conosco*/
    font-size: 2.5em;
    /*color: #22396f;*/
    color: #8ba1d3;
    padding: 15.5px 10px;    
}


input[type=submit] {        
    width: 98%;
    font-size: 2em;
    height: 90px;    
}


input[id=iBuscar]{
    height: 90px;
    width: 96%;
    padding: 20px 5px;
    font-size: 2em;    
    
}
input[id=iBuscar]:hover{            
    font-size: 2.5em;
    padding: 9.9px 5px;
}

input[id=btnBuscar]{  
 font-size: 3em; 
 height: 120px;
 padding-top: 20px; 
 border-radius: 30px;
}

input[id=btnBuscar]:hover{
   /* background-color: #8ba1d3;
    color: #22396f;*/   
}

input:focus {
    border: 1px solid #ccc;
    outline: none;
}

.form-guia{
    width: 90%;

}


/* # # # # # # F A L E   C O N S O C O # # # # # # */

.corpoFaleConsoco{    
    width: 900px;
}
.corpoFaleConsoco h2{
    padding: 5px 0 15px 0;
    font-size: 3em;    
}

.lblTitRadio{
    font-size: 2em;
}

input[type=radio] + label{
    font-size: 2.2em;                
}

.stAssunto {     
    width: auto;
    padding: 10px 60px;
    font-size: 3em;
}

.taMensagem{    
    font-size: 2em;
    height:300px;    
}

/* - - - - */

}

@media( min-width: 1050px ) {

.margem-guia-principal {
    width: 30.6%;    
}
}
@media( min-width: 1920px ) {

.margem-guia-principal {
    width: 35.5%;
    min-height: 410px;
    float: left;
}
}
