<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="caminhoArquivo" value="\img\arquivos" />
    <add key="caminhoArquivoPdf" value="\Downloads" />
    <add key="ServerVegas" value="asu.no-ip.info" />
    <!--<add key="ServerVegas"   value="192.168.0.225" />-->
    <!--<add key="ServerASU"   value="asu.no-ip.info" />-->
    <add key="ServerASU" value="mysql03-farm2.uni5.net" />
    <add key="PortASU" value="3306" />
    <!--<add key="PortASU"     value="3308" />-->
    <add key="PortVegas" value="3308" />
    <add key="DBASU" value="rrprojetos" />
    <!--<add key="DBASU" value="myasu" />-->
    <add key="DBVegas" value="vegas" />
    <add key="UserASU" value="rrprojetos_add1" />
    <!--<add key="UserASU"     value="regis" />-->
    <add key="UserVegas" value="vegas" />
    <!--<add key="CaminhoVendaENV" value="C:\CLIENTASU-V3\ENV\"/>-->
    <add key="CaminhoVendaENV" value="C:\CLIENTASU-V4\ENV\" />
    <add key="Timeout_venda" value="24" />

    <add key="Assoc_ini_extra" value="20" />
    <add key="Assoc_fim_extra" value="19" />
    <add key="Conv_ini_extra" value="20" />
    <add key="Conv_fin_extra" value="19" />

    <!--
    <add key="CaminhoVendaENV" value="C:\ClientASU\ENV\"/>
    <add key="CaminhoVendaRET" value="C:\ClientASU\RET\"/>
    -->
    <add key="CaminhoDownloads" value="D:\IntraASU\VoceOnLine\downloads\" />
    <add key="SitePathFisico" value="D:\IntraASU\" />

    <add key="ConectSite" value="Site" />
    <add key="ConectVegas" value="Vegas" />
    <add key="limiteBox100" value="10" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <!--<compilation debug="true" targetFramework="4.0"/>-->
    <!--Erro, Versão do Framework-->
    <httpRuntime targetFramework="4.7.2" maxRequestLength="52428800" />
    <sessionState timeout="60"></sessionState>       
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Home.aspx" />
        <add value="~/Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="ServerVegas" connectionString="Database=vegas;Data Source=asu.no-ip.info; Port: 3308;User Id=vegas;Password=Cns@Vegas#2020;Pooling=true;Max Pool Size=80;" providerName="MySql.Data.MySqlClient" />
    <add name="ServerASU" connectionString="Database=rrprojetos;Data Source=mysql03-farm2.uni5.net; Port: 3306;User Id=rrprojetos_add1;Password=i072406;Pooling=true;Max Pool Size=80;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
        <binding name="AtendeClienteServiceSoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
        binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
        contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
        binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding2"
        contract="SRCorreios.AtendeCliente" name="AtendeClientePort1" />
    </client>
  </system.serviceModel>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>                       
  </runtime>
  
</configuration>
