<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="caminhoArquivo" value="\img\arquivos /"></add>
    <add key="ServerVegas"   value="asu.no-ip.info" />
    <!--<add key="ServerASU"   value="asu.no-ip.info" />-->
    <add key="ServerASU"   value="mysql03-farm2.uni5.net" />
    <add key="PortASU"     value="3306" />
    <!--<add key="PortASU"     value="3308" />-->
    <add key="PortVegas"     value="3308" />
    <add key="DBASU" value="rrprojetos" />
    <!--<add key="DBASU" value="myasu" />-->
    <add key="DBVegas" value="vegas" />
    <add key="UserASU"     value="rrprojetos_add1" />
    <!--<add key="UserASU"     value="regis" />-->
    <add key="UserVegas"     value="vegas" />
    <add key="CaminhoVendaENV" value="C:\CLIENTASU-V3\ENV\"/>
    <add key="Timeout_venda" value="24"/>
    <add key="SitePathFisico" value="D:\web\localuser\rrprojetos\www\"/>
    <add key="ConectSite" value="Site"/>
    <add key="ConectVegas" value="Vegas"/>
    
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="8500"/>
    
  </system.web>

  <connectionStrings>
    <add name="ServerVegas" connectionString="Database=vegas;Data Source=asu.no-ip.info; Port: 3308;User Id=vegas;Password=Cns@Vegas#2020;Pooling=true;Max Pool Size=80;" providerName="MySql.Data.MySqlClient" />
    <add name="ServerASU" connectionString="Database=rrprojetos;Data Source=mysql03-farm2.uni5.net; Port: 3306;User Id=rrprojetos_add1;Password=i072406;Pooling=true;Max Pool Size=80;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
        binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
        contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
</configuration>
