<?xml version="1.0" encoding="utf-8"?>
<!--Eventos-->
<configuration>
   <appSettings>    
    <add key="caminhoArquivo" value="\img\conteudo\"/>
    <add key="ServerVegas"   value="192.168.0.225" />        
    <add key="ServerASU" value="mysql.asu.com.br" />
    <add key="PortASU"     value="3306" />    
    <add key="PortVegas"     value="3308" />
    <add key="DBASU" value="asu" />    
    <add key="DBVegas" value="vegas" />
    <add key="UserASU" value="asu_add1" />
    <add key="UserVegas"     value="vegas" />
    
    <add key="SiteName" value="ASU - Associação dos Servidores da UNESP"/>
    <add key="SiteRazao" value="ASU - Associação dos Servidores da UNESP"/>
    <add key="SiteURL" value="http://asu.no-ip.info/VO/"/>
    <add key="SiteURLSimples" value="asu.com.br"/>
    <add key="SiteInstitucional" value="http://www.asu.com.br/default.aspx"/>
    <add key="Restrita" value="http://asu.no-ip.info/VoceOnLine/"/>

    <add key="CaminhoVendaENV" value="C:\ClientASU\ENV\"/>
        
    <add key="CaminhoDownloads" value="D:\IntraASU\VOnLine\Downloads\"/>
    <add key="SitePathFisico" value="D:\IntraASU\VOnLine\"/>

    <add key="Assoc_ini_extra" value="20"/>
    <add key="Assoc_fim_extra" value="19"/>
    <add key="Conv_ini_extra" value="20"/>
    <add key="Conv_fin_extra" value="19"/>
    
    <add key="Timeout_venda" value="24"/>
    
    <add key="ConectSite" value="Site"/>
    <add key="ConectVegas" value="Vegas"/>
  </appSettings>
  <system.web>
  <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--<httpRuntime targetFramework="4.0" maxRequestLength="8500"/>    -->
    <httpRuntime targetFramework="4.0" maxRequestLength="52428800"  executionTimeout="90" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />    
  </system.web>
  <connectionStrings>
    <add name="ServerVegas" connectionString="Database=vegas;Data Source=asu.no-ip.info; Port: 3308;User Id=vegas;Password=Cns@Vegas#2020;Pooling=true;Max Pool Size=80;" providerName="MySql.Data.MySqlClient" />
    <add name="ServerASU" connectionString="Database=rrprojetos;Data Source=mysql03-farm2.uni5.net; Port: 3306;User Id=rrprojetos_add1;Password=i072406;Pooling=true;Max Pool Size=80;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="eLogin.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
